html {
  font-family: Helvetica;
  margin: 50px 50px 50px 50px;
}

hr {
  width: 7%;
  margin-bottom: 30px;
  margin-top: 30px;
  border-top: 1px solid #E6E6FA;
}

.fa {
  color: #999999;
}

.fa:hover {
  color: #2C81B6;
}

#intro, #contact, #date, #weather {
  text-align: center;
}

#intro {
  font-size: 17pt;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

#envelope {
  margin-right: 15px;
}

#weather, #date {
  font-weight: bold;
}

#weather {
  font-size: 9pt;
}

#date {
  font-size: 7.5pt;
}
