html {
  font-family: Helvetica;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

hr {
  width: 7%;
  margin-bottom: 30px;
  margin-top: 30px;
  border-top: 1px solid #ccc;
}

#intro {
  font-size: 22pt;
  text-align: center;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none
}

#envelope {
  margin-right: 5px;
}

#contact {
  text-align: center;
}

#cameraDescrip {
  margin-bottom: 70px;
  font-size: 9pt;
}

.allImages {
  margin-bottom: 60px;
}

.imageDates, .imageTitles {
  font-size: 10.5pt;
}

.imageTitles {
  margin-bottom: 3px;
}

.imageDates {
  margin-bottom: 8px;
}
