html {
  font-family: Helvetica;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  color: #ffb6c1;
  background-color: black;
}

#cameraDescrip {
  margin-bottom: 70px;
  font-size: 9pt;
}

.allImages {
  margin-bottom: 60px;
}

.imageTitles {
  font-size: 10.5pt;
}
