/* This is the CSS file I use to style my portfolio */

@font-face {
    font-family: Quicksand;
    src: url(Quicksand-Regular.otf);
}

@font-face {
    font-family: Raleway;font-family: Raleway;
    src: url(Raleway-Regular.ttf);
}

html {
	font-family: Quicksand, sans-serif;
	color: #777777;
	opacity: 0.4;
}

title {
	 font-family: Helvetica;
}

a:visited, link {
	color: #777777;;	
}

a:hover, a {
	color: #777777;
	text-decoration: underline;;
}

a {
	text-decoration: none;
}

body {
	margin-left: 0px;
	margin-top: 0px;
}

hr { 
	/*display: block; */
	height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin-top: 20pt;
    margin-bottom: 15pt;
    padding:0px;
}

/*.shorter {
	width: 220px;
	margin-top: 4%;
}*/

#topOne {
	width:68%;
}

#resume {
	padding-left: 40px;
	padding-top: 25px;
}

#aboutMe, #addlInfo, #projects {
	padding-left: 40px;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 70%;
	margin-bottom: 20pt;
	margin-left: auto;
	clear: right;
	margin-right: auto;
}

#topsec {
	margin-top: 2%;
	font-size: 30pt;
	font-weight: bold;
	color: #696969;
	font-family: Raleway, serif;
	margin-bottom: 0px;
	font-style: italic;
	padding-left: 40px;
	padding-top: 25px;
	width: 70%;
	
	margin-left: auto;
	
	margin-right: auto;

	/*makes header unselectable*/
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

 #projectsBut {
	padding-top: 2%;
	margin-right: 17%;
	clear:left;
	float: right;
}

#skillsetBut, #aboutMeBut{
	padding-top: 2%;
	padding-right: 5%;
	clear:left;
	float: right;
}

ul {
	padding-bottom:0px;
}

html {
	padding-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

#dsaDescrip, #infoVisDescrip, #webDescrip, #rdDescrip, #accDescrip, #spDescrip {
	display: none;
	padding-left: 50px;
	font-size: 10pt;
}

#entire {
	text-align: center;	
	text-decoration: none;
}

#linkedin {
	text-decoration: none;
}

#github, #uw, #res {
	text-decoration: none;
	padding-left: 10pt;
}

#projects {
	padding-bottom: 70px;
}

.links {
	padding-left: 50px;
}

.descrips {
	text-decoration: underline;
}