/*
This style sheet stylizes the digital clock
- Tony Le
*/

.circle {
	display: block;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: solid 1px #3a3a3a;
    color: yellow;
    margin-bottom: 7px; /*adds space below each circle*/
    margin-left: 7px;
}

html {
	background-color:#131313;
	text-align: center;
}

/*specify font family*/
@font-face {
    font-family: RobotoSlab;
    src: url(../fonts/RobotoSlab-Thin.ttf);
}

#clockContainer {
	width: 50%;
	margin: 0 auto;
	margin-top: 10%;
}

/* "Digital Clock" */
h1 {
    color: #FFEBCD;
    font-size: 21px;
    display: inline;
    font-weight: 100;
    padding-right: 0.5%;
}

/* "Tony Le" */
h2 {
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 400;
    display: inline;
}

/* container for h1 and h2 */
#credit {
    font-family: RobotoSlab, serif;
    position:fixed;
    bottom:20px;
    width:100%;
    text-align: center;
}
