html {
  font-family: Helvetica;
  background-color: #131313;
}

.airportContainers {
  outline-style:solid;
  outline-width: 6px;
  outline-color:#677077;
  width: 230px;
  height: 230px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto 40px 40px auto;
  background-color: #252839;
  float: left;
}

h3 {
  font-size: 46pt;
  text-align: right;
  margin: 10px auto 35px auto;
  color: #f2b632;
}

div div {
  color: white;
}

#area {
  margin: 0 auto;
  width: 900px;
}

body {
  margin-top: 90px;
}

#info {
  float: left;
  text-align: left;
  width: 12%;
  color: white;
  margin-left: 20px;
  color: #dddfd4;
}

#info, div div {
  font-size: 11pt;
}

img {
  clear: both;
  position: relative;
}

a {
  color: grey;
}
